<div class="mt-4 mx-4">
    <ul class="list-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock Actual</th>
                    <th>Transacciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of paginatedProducts; trackBy: trackByProductId">
                    <td>
                        <button (click)="editarProducto(product)" class="btn btn-sm btn-primary me-2"
                            aria-label="Editar">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button (click)="eliminarProducto(product.id)" class="btn btn-sm btn-danger" aria-label="Eliminar">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.descripcion }}</td>
                    <td>{{ product.category.nombre }}</td>
                    <td>${{ product.precio }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <button (click)="comprarProducto(product.id)" class="btn btn-sm btn-success me-2"
                            aria-label="Compra">Compra
                            <i class="bi bi-cart-plus"></i>
                        </button>
                        <button (click)="venderProducto(product.id)" class="btn btn-sm btn-warning" aria-label="Venta">
                            Venta
                            <i class="bi bi-currency-dollar"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <button class="page-link" (click)="changePage(currentPage - 1)">Anterior</button>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                    [class.active]="currentPage === i + 1">
                    <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <button class="page-link" (click)="changePage(currentPage + 1)">Siguiente</button>
                </li>
            </ul>
        </nav>
    </ul>
</div>